<style>
    .button {
        width: 64px;
        height: 64px;
        font-size: 20px;
    }
</style>

{% extends "stamps/base.html" %}
{% block body %}
<div class="container">
    <div class="row text-center text-lg-left">
    {% for stamp in stamp_list %}
    <div class="col-lg-2 col-md-2 col-sm-3 mb-4 col-xs-4">
            <input class="button btn-warning" type="submit" value="{{ stamp.count }}" onclick="popup('{{ stamp.name }}')">
            <p> {{ stamp.name }} </p>
    </div>
    {% endfor %}
  </div>
</div>

<script>
function popup(stampName) {
    var r = confirm("Move to trash");

    if (r == true) {
      window.location.href = '/stamps/trash?query=' + stampName;
    }

}
</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% endblock %}
