
{% extends "stamps/base.html" %}
{% block body %}
<div>
    <div class="input-group mb-3">
    <input id="filtering_keyword" type="text" class="form-control" placeholder="CounterName">
    <div class="input-group-append">
    <span class="input-group-text"onclick="setFilter('{% url 'stamps:filter' %}')">Filtering</span>
  </div>
</div>

<div class="container">
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th scope="col-3">CName</th>
          <th scope="col-7">Time</th>
          <th scope="col-2">active</th>
        </tr>
      </thead>
      <tbody>
      {% for log in clog_list %}
        {% if log.is_active %}
        <tr>
        {% else %}
        <tr bgcolor="#eeeeee">
        {% endif %}
          <td> {{ log.stamp.name }} </td>
          <td> {{ log.stamped_at }} </td>
          <td>
            {% if log.is_active %}
            <form action="{% url 'stamps:offlog' log.id %}">
                <input class="btn-sm" type="submit" value="ON">
            </form>
            {% else %}
            <form action="{% url 'stamps:onlog' log.id %}">
                <input class="btn-sm" type="submit" value="OFF">
            </form>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>

<script>
  function setFilter(url) {
    window.location.href = url + "?query=" + document.getElementById("filtering_keyword").value
  }

</script>
{% endblock %}


