<style>
    .button {
        width: 70px;
        height: 70px;
        font-size: 24px;
    }
</style>

{% extends "stamps/base.html" %}
{% block body %}
<div class="container">
    <div class="row text-center text-lg-left">
        <div class="col">
            <input class="btn-warning btn-lg" type="submit" value="Edit Mode" onclick="enableEditMode( {{page_number}})">
        </div>
        <div class="col">
            <input class="btn-primary btn-lg" type="submit" value="New Button" onclick="popup( {{ stamp_list|length}}, {{page_number}} )">
        </div>
    </div>
    <br>

    <div class="row text-center text-lg-left">
    {% for stamp in stamp_list %}
    <div class="col-lg-2 col-md-4 col-sm-4 mb-4 col-xs-4">
        <input class="button btn-primary" type="submit" value="{{ stamp.count }}"b onclick="count('{% url 'stamps:count' page_number stamp.id  %}')">
        <p> {{ stamp.name }} </p>
    </div>
    {% endfor %}

  </div>

 <!-- Pagination -->
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
      </a>
    </li>
    {% for page_index in page_count %}
    <li class="page-item">
      {% if page_index == page_number %}
      <a class="page-link active" href="{% url 'stamps:main' page_index %}"> {{ page_index }}</a>
      {% else %}
      <a class="page-link" href="{% url 'stamps:main' page_index %}"> {{ page_index }}</a>
      {% endif %}
    </li>
    {% endfor %}
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
    </li>
  </ul>
</div>

<script>

function count(url) {
  window.location.href = url;
}

function enableEditMode(page_number) {
    window.location.href = '/stamps/edit/' + page_number;
}

function popup(counterNum, page_number) {
    counterNum++;
    var counterName = prompt("Please enter counter name", "mycounter" + counterNum);

    if (counterName != null && counterName != "") {
      window.location.href = '/stamps/add?query=' + counterName + "&page_number=" + page_number;
    }
}
</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% endblock %}
