

{% extends "stamps/base.html" %}
{% block body %}
<div class="container">
    <div class="row text-center text-lg-left">
        <div class="col">
            <input class="btn-warning btn-lg" type="submit" value="delete" onclick="enableEditMode( {{page_number}})">
        </div>
        <div class="col">
            <input class="btn-primary btn-lg" type="submit" value="Search" onclick="search('{% url 'stamps:search' %}')">
        </div>
        <div class="col">
            <input class="btn-primary btn-lg" type="submit" value="new" onclick="popup( {{ stamp_list|length}}, {{page_number}} )">
        </div>
    </div>
    <br>

    <div class="row text-center text-lg-left">
    {% for stamp in stamp_list %}
    <div class="col-lg-2 col-md-4 col-sm-4 mb-4 col-xs-4">
        <input class="button btn-primary btn-lg" type="submit" value="{{ stamp.count }}"b onclick="count('{% url 'stamps:count' page_number stamp.id  %}')">
        <p> {{ stamp.name }} </p>
    </div>
    {% endfor %}

  </div>

 <!-- Pagination -->
  <ul class="pagination justify-content-center">
    {% for page_index in page_count %}
        {% if page_index == page_number %}
        <li class="page-item active">
        {% else %}
        <li class="page-item">
        {% endif %}
            <a class="page-link" href="{% url 'stamps:main' page_index %}"> {{ page_index }}</a>
        </li>
    {% endfor %}
  </ul>
</div>

<script>

function search(url) {
    console.log(url)
    var keyword = prompt("Type keyword", "")

    if(keyword != null && keyword != "") {
        window.location.href = url + "?query=" + keyword;
    }
}

function count(url) {
  window.location.href = url;
}

function enableEditMode(page_number) {
    window.location.href = '/stamps/edit/' + page_number;
}

function popup(counterNum, page_number) {
    counterNum++;
    var counterName = prompt("Please enter counter name", "mycounter" + counterNum);

    if (counterName != null && counterName != "") {
      window.location.href = '/stamps/add?query=' + counterName + "&page_number=" + page_number;
    }
}
</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% endblock %}
