
{% extends "stamps/base.html" %}
{% block body %}
<div>
    <input class="btn-primary" type="submit" value="오늘" onclick="setRange('{% url 'stamps:stat' %}', 1)">
    <input class="btn-primary" type="submit" value="일주일" onclick="setRange('{% url 'stamps:stat' %}', 7)">
    <input class="btn-primary" type="submit" value="4주" onclick="setRange('{% url 'stamps:stat' %}', 28)">
    {% if type == 'group' %}
    <input type="checkbox" id="group" onclick="setRange('{% url 'stamps:stat' %}', {{period}})" checked>
    {% else %}
    <input type="checkbox" id="group" onclick="setRange('{% url 'stamps:stat' %}', {{period}})">
    {% endif %}
    <label class="label">Show Groups</label>
    <br>
    <a> {{start_day}} - {{end_day}} </a>
</div>
<div class="container">
    <table class="table table-sm table-hover">
      <thead>
        <tr>
            {% if type == 'group' %}
            <th scope="col-6">Group</th>
            {% else %}
            <th scope="col-6">Counter</th>
            {% endif %}
            <th scope="col-3">Times</th>
            <th scope="col-3">Rate</th>
        </tr>
      </thead>

      <tbody>
      {% for d in stats %}
      <tr>
          <td> {{ d.name }} </td>
          <td> {{ d.count }} </td>
          <td> {{ d.rate }} % </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
</div>

<script>
    function setRange(url, range) {
        var checkBox = document.getElementById("group");
        var type = "group"
        if (checkBox.checked == false){
            type = "individual"
        }

        window.location.href = url + "?type=" + type + "&period=" + range;
    }
</script>
{% endblock %}


