<style>
    .button {
        width: 64px;
        height: 64px;
        font-size: 20px;
    }
</style>

{% extends "stamps/base.html" %}
{% block body %}
<div class="container">
    <div class="row text-center text-lg-left">
        <div class="col-lg-2 col-md-2 col-sm-2 mb-2 col-xs-2">
        <input class="btn-warning btn-lg" type="submit" value="Empty trash!" onclick="popup()">
        </div>
    </div>

    <br>

    <div class="row text-center text-lg-left">
    {% for stamp in stamp_list %}
    <div class="col-lg-2 col-md-2 col-sm-3 mb-4 col-xs-4">
        <input class="button btn-primary" type="submit" value="{{ stamp.count }}" onclick="restore_popup('{{stamp.name}}')">
        <p> {{ stamp.name }} </p>
    </div>
    {% endfor %}

  </div>
</div>

<script>
function restore_popup(stamp_name) {
    var p = confirm("Restore! " + stamp_name);

    if(p == true) {
        window.location.href = '/stamps/restore/' + stamp_name;
    }

}

function popup() {
    var p = confirm("Empty Trash!");

    if (p == true) {
      window.location.href = '/stamps/empty';
    }

}
</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% endblock %}
